.tableOuter {
  width: 100%;
  height: 100vh;
  border-spacing: 0rem;
  overflow: hidden;
}

.leftMenu {
  width: 15rem;
  height: 100vh;
  padding: 0;
}

.mainContent {
  width: calc(100% - 3rem);
  height: calc(100vh - 2rem);
  padding: 0;
  display: block;
  margin-left: 3rem;
  padding: 1rem 0rem;
  overflow-y: auto;
}

.mobileHeader {
  background-color: #201e1e;
  color: #cccccc;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.mobileHeaderLeft {
  display: flex;
  align-items: center;
}

.mobileContentOuter {
  width: 100%;
  display: flex;
  align-items: center;
}

.mobileContent {
  width: 100%;
  height: calc(100% - 2rem);
  padding: 0.5rem;
  padding-top: 0rem;
  transform: scale(0.85);
}

.mobileNavMenuHolder {
  width: 22rem;
  max-width: calc(100vw - 6rem);
  height: 100%;
  padding: 3rem;
  background-color: var(--bg);
}
