.tableOuter {
  width: 100%;
  height: 100vh;
  border-spacing: 0rem;
  overflow: hidden;
}

.leftMenu {
  width: 15rem;
  height: 100vh;
  padding: 0;
}

.mainContent {
  width: calc(100% - 3rem);
  height: calc(100vh - 2rem);
  padding: 0;
  display: block;
  margin-left: 3rem;
  padding: 1rem 0rem;
  overflow-y: auto;
}