.nameModuleOuter {
	text-align: center;
}

.songName {
	display: block;
	font-weight: 600;
	color: var(--text);
	font-size: 2rem;
}

.songArtist {
	display: block;
	margin-top: 1rem;
	font-weight: 500;
	color: var(--text);
	font-size: 1.7rem;
	filter: opacity(0.4);
}

.wordMiddle {
	position: relative;
	top: 0.2rem;
	display: inline-block;
	width: 1rem;
	height: 0.2rem;
	margin: 0rem 0.2rem;
	background-color: var(--text);
	filter: opacity(0.2);
	animation: pulse 0.8s ease-in-out infinite;
}

@keyframes pulse {
	0% {
		filter: opacity(0.2);
	}
	50% {
		filter: opacity(0.6);
	}
	100% {
		filter: opacity(0.2);
	}
}

.incompletedWord {
	letter-spacing: 0.15rem;
	filter: opacity(0.2);
}